@model MvcProject1.Models.Challenges

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TOP Challenge: @Html.DisplayFor(x => Model.ChallengeName)</h2>
<table class="table table-hover">
    <tbody>
    @for (int i = 0; i < Model.ChallengeDetails.Count; i++)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].DetailId)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].ChallengeId)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].MatchId)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].UserId)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].UserName)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].HerroName)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].HeroLevel)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].Score)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].GameDuration)</td>
            <td>@Html.DisplayFor(modelItem => Model.ChallengeDetails[i].InventoryId)</td>
        </tr>
    }
    </tbody>
</table>
<button onclick="location.href='@Url.Action("Detail", "Challenge", new { id = Model.NextCh })'" id="vertival-button-next" name="singlebutton" class="">Next</button>
<button onclick="location.href='@Url.Action("Detail", "Challenge", new { id = Model.PrevCh })'" id="vertival-button-prev" name="singlebutton" class="">Prev</button>