@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MvcProject1.Models.Global.Match

<h2>Match ID: @Html.DisplayFor(mt => Model.MatchId)</h2>
<div class="table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th>SteamId</th>
            <th>HeroId</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var el in Model.Players)
        {
            <tr>
                <td>@Html.DisplayFor(pl => el.SteamId)</td>
                <td>@Html.DisplayFor(pl => el.HeroId)</td>
                <td>@Html.DisplayFor(pl => el.Kills)</td>
                <td>@Html.DisplayFor(pl => el.Deaths)</td>
                <td>@Html.DisplayFor(pl => el.Assist)</td>
                <td>
                    <img src="@Url.Content(el.Items[0].IconPath)" alt="" width="32" height="28" style="margin-bottom: 2px" />
                    <img src="@Url.Content(el.Items[1].IconPath)" alt="" width="32" height="28" style="margin-bottom: 2px" />
                    <img src="@Url.Content(el.Items[2].IconPath)" alt="" width="32" height="28" style="margin-bottom: 2px" /><br/>
                    <img src="@Url.Content(el.Items[3].IconPath)" alt="" width="32" height="28" />
                    <img src="@Url.Content(el.Items[4].IconPath)" alt="" width="32" height="28" />
                    <img src="@Url.Content(el.Items[5].IconPath)" alt="" width="32" height="28"/>
                </td>
            </tr>   
        }
        </tbody>
    </table>
</div>
